{% extends 'public_template.html' %}

{% block title %}Home{% endblock %}


{% block main %}
<div class="container" id="banner">
    <img src="\static\img\16.png" class="img-fluid" alt="banner">
</div>


<div class="b-example-divider" style="margin-bottom: 11px;"></div>
<div class="container">
    <div class="row" if="figurinhas">
        <h1>Figurinhas</h1>
    </div>

    <div class="row">
        <div class="col-md-4" style="padding:20px;">
            <div class="card" style="width: 18rem;">
                <img src="\static\img\neymar-legend.png" class="card-img-top" alt="Figurinha">
                <div class="card-body">
                    <h5 class="card-title">Neymar</h5>
                    <p class="card-text">Código: BR 10</p>
                    <p class="card-text">Disponíveis: 30</p>
                    <p class="card-text">Trocas online: 10</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding:20px;">
            <div class="card" style="width: 18rem;">
                <img src="\static\img\neymar-legend.png" class="card-img-top" alt="Figurinha">
                <div class="card-body">
                    <h5 class="card-title">Neymar</h5>
                    <p class="card-text">Código: BR 10</p>
                    <p class="card-text">Disponíveis: 30</p>
                    <p class="card-text">Trocas online: 10</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="padding:20px;">
            <div class="card" style="width: 18rem;">
                <img src="\static\img\neymar-legend.png" class="card-img-top" alt="Figurinha">
                <div class="card-body">
                    <h5 class="card-title">Neymar</h5>
                    <p class="card-text">Código: BR 10</p>
                    <p class="card-text">Disponíveis: 30</p>
                    <p class="card-text">Trocas online: 10</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="padding:20px;">
            <div class="card" style="width: 18rem;">
                <img src="\static\img\neymar-legend.png" class="card-img-top" alt="Figurinha">
                <div class="card-body">
                    <h5 class="card-title">Neymar</h5>
                    <p class="card-text">Código: BR 10</p>
                    <p class="card-text">Disponíveis: 30</p>
                    <p class="card-text">Trocas online: 10</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <h1>Trocas</h1>
    </div>
    <div class="row">
        <div class="col-md-4" style="padding:20px;">
            <div class="troca" style="background-color: aliceblue; border-radius: 5%; width: 296px; height: 150px;">
                <div class="trocas" style="display: flex;justify-content: space-evenly; padding: 26px;">
                    <div style="width: 88px;"><h4 style="font-size: 18px;">10 Figurinhas</h4></div>
                    <div style="width: 40px;margin:0%;"><img src="\static\img\trade.png" alt="troca-simbolo" style="width:35px"></div>
                    <div style="width: 88px;"><h4 style="font-size: 18px;">25 Figurinhas</h4></div>
                </div>
                <button style="margin-left: 91px;">Ir para Troca</button>
            </div>
        </div>
        <div class="col-md-4" style="padding:20px;">
            <div class="troca" style="background-color: aliceblue; border-radius: 5%; width: 296px; height: 150px;">
                <div class="trocas" style="display: flex;justify-content: space-evenly; padding: 26px;">
                    <div style="width: 88px;"><h4 style="font-size: 18px;">1 Figurinhas</h4></div>
                    <div style="width: 40px;margin:0%;"><img src="\static\img\trade.png" alt="troca-simbolo" style="width:35px"></div>
                    <div style="width: 88px;"><h4 style="font-size: 18px;">5 Figurinhas</h4></div>
                </div>
                <button style="margin-left: 91px;">Ir para Troca</button>
            </div>
        </div>

        <div class="col-md-4" style="padding:20px;">
            <div class="troca" style="background-color: aliceblue; border-radius: 5%; width: 296px; height: 150px;">
                <div class="trocas" style="display: flex;justify-content: space-evenly; padding: 26px;">
                    <div style="width: 88px;"><h4 style="font-size: 18px;">3 Figurinhas</h4></div>
                    <div style="width: 40px;margin:0%;"><img src="\static\img\trade.png" alt="troca-simbolo" style="width:35px"></div>
                    <div style="width: 88px;"><h4 style="font-size: 18px;">R$ 20</h4></div>
                </div>
                <button style="margin-left: 91px;">Ir para Troca</button>
            </div>
        </div>

        <div class="col-md-4" style="padding:20px;">
            <div class="troca" style="background-color: aliceblue; border-radius: 5%; width: 296px; height: 150px;">
                <div class="trocas" style="display: flex;justify-content: space-evenly; padding: 26px;">
                    <div style="width: 88px;"><h4 style="font-size: 18px;">15 Figurinhas</h4></div>
                    <div style="width: 40px;margin:0%;"><img src="\static\img\trade.png" alt="troca-simbolo" style="width:35px"></div>
                    <div style="width: 88px;"><h4 style="font-size: 18px;">5 Figurinhas</h4></div>
                </div>
                <button style="margin-left: 91px;">Ir para Troca</button>
            </div>
        </div>

    </div>
</div>
<div class="b-example-divider"></div>

<div class="container" id="footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top">

      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <img src="\static\img\logo-nome-simbolo-lado.png" alt="" width="100" height="100" class="bi me-2">
        </a>
        <p class="text-muted">© 2022</p>
      </div>

      <div class="col mb-3">
        <h5>Menu site</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trocas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Figurinhas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Perfil</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Trocas</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Principais</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Proximo a mim</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Todas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pesquisa</a></li>
        </ul>
      </div>
    </footer>
  </div>
{% endblock %}